@import "tailwindcss";

@theme {
  --color-surface: #f9f9f9;
  --color-surface-lowest: #ffffff;
  --color-surface-low: #f2f4f4;
  --color-surface-container: #ebeeef;
  --color-surface-high: #e4e9ea;
  --color-surface-highest: #dde4e5;
  --color-on-surface: #2d3435;
  --color-on-surface-variant: #5a6061;
  --color-tertiary: #003ee3;
  --color-outline-variant: #adb3b4;
  --color-outline: #757c7d;
  --color-on-primary: #f8f8f8;

  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Manrope", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  background: var(--color-surface);
  color: var(--color-on-surface);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glass-nav {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
